<!doctype html>
<html>
<head>
    <title>Senior Developer Exercise</title>
</head>
<body>
    <h1>Submission Form</h1>
    
    <h2>Please fill in the form below:</h2>

    <form method="POST" action="/submit">
        <div>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <br>
        
        <div>
            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <br>
        
        <div>
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        
        <div>
            <label for="favourite_colour">What is your favourite colour?</label><br>
            <select id="favourite_colour" name="favourite_colour" required>
                <option value="">-- Please select --</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
        </div>
        <br>
        
        <button type="submit">Submit</button>
    </form>

</body>
</html>